[Unit]
Description=Scheduled Shutdown/Restart Service

[Service]
ExecStart=/usr/bin/pwsh /usr/local/bin/ScheduledShutdownRestart.ps1 -Action shutdown
